sup {
  font-size: 60%;
  padding: 0px 4px;
}

.top-nav a {
  font-family: 'Ubuntu', sans-serif;
  float: left;
  display: block;
  color: #53A2BE;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}

.top2-nav a {
  font-family: 'Ubuntu', sans-serif;
  float: left;
  display: block;
  color: #53A2BE;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}

.top-nav a:hover, .top2-nav a:hover {
    color: black;
}

.active {
  border-bottom: black;
}

container {
  margin: 20px;
  font-family: 'Oswald', sans-serif;
}

.top, .bottom {
  background: #53A2BE;
  padding-bottom: 40px;
  text-align: center;
}

h1, h2, h3, h5, p {
  text-align: left;
  margin-left: 320px;
  margin-right: 320px;
  color: white;
}

.tabs {
  margin-left: 320px;
  margin-right: 320px;
  padding: 30px 0px 10px 0px;
}

.tabs a {
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  color: #53A2BE;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 4px;
}

.navigation {
  margin-bottom: 50px;
  border-bottom: 1px solid #40798C;
  padding: 0px 0px 10px 0px;
}

.mid-tab {
  /*padding: 0px 16px;*/
}

.tabs a:hover {
  border-bottom: 3px solid #40798C;
}

.middle h2, .middle p {
  color: black;
}

.description {
  border-top: 2px dashed #40798C;
  border-bottom: 2px dashed #40798C;
  padding: 20px 0px;
}

.price {
  font-size: 140%;
}

.button {
  background: white;
  width: 100px;
  height: 50px;
  color: #53A2BE;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px;
  letter-spacing: 1.2px;
  margin-left: 15px;
  text-decoration: none;
  border: 2px solid white;
}

.button:hover {
  background: #53A2BE;
  color: white;
  border: 2px solid white;
}

.sub-head {
  text-align: center;
  font-size: 35px;
}

.rec {
  background: #A8E0FF;
  padding: 3px 0px;
}

.bottom {
  padding-top: 60px;
}

h1, h2, h3, h5 {
  line-height: 30%;
  letter-spacing: 1.2px;
}

h5 {
  color: #4C6085;
}

footer p {
  margin: 0px;
  padding: 5px 16px;
  color: #4C6085;
  font-size: 90%;
}

footer a {
  color: #4C6085;
  padding: 4px;
  font-size: 90%;
}

.bottom-nav a {
  font-family: 'Ubuntu', sans-serif;
  /*float: left;
  display: block;*/
  color: #53A2BE;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}
